server {
    listen         80;
       server_name _;

       location /validate {
          proxy_pass http://proofs:5000/validate;
       }
#    return 301 https://$host$request_uri;
}

server  {
       # SSL configuration
       #
       listen 443 ssl default_server;
       #

       ssl_certificate /etc/ssl/certs/ssl-cert-snakeoil.pem;
       ssl_certificate_key /etc/ssl/private/ssl-cert-snakeoil.key;

       server_name _;

       location /validate {
          proxy_pass http://proofs:5000/validate;
       }
}
