server {
       listen 80 default_server;
       listen [::]:80 default_server;

       # SSL configuration
       #
       # listen 443 ssl default_server;
       # listen [::]:443 ssl default_server;
       #


       server_name _;

       location /validate {
                proxy_pass http://localhost:5000/validate;
       }
}
